[Unit]
Description=FastAPI Server with PyAutoGUI
After=network.target

[Service]
User=agentsea
Environment="DISPLAY=:0"  # Adjust as needed for your display
WorkingDirectory=/home/agentsea/autoguid
ExecStart=uvicorn autogui.server:app --host 0.0.0.0 --port 8000 --reload
Restart=always

[Install]
WantedBy=graphical.target
