[Unit]
Description=GNOME session on Xvfb
Requires=xvfb.service
After=xvfb.service
PartOf=xvfb.service

[Service]
Type=forking
User=agentsea
Environment="DISPLAY=:99" "XAUTHORITY=/home/agentsea/.Xauthority"
ExecStart=/bin/su agentsea -c "/usr/bin/dbus-launch gnome-session"
ExecStop=/usr/bin/killall gnome-session

[Install]
WantedBy=multi-user.target