[Unit]
Description=Start LXQt on Xvfb
Requires=xvfb.service
After=xvfb.service network.target

[Service]
Type=simple
User=agentsea
Environment="DISPLAY=:99" "XAUTHORITY=/home/agentsea/.Xauthority"
Environment="XDG_RUNTIME_DIR=/run/user/1001"
Environment="DBUS_SESSION_BUS_ADDRESS=/run/user/1001/bus"
ExecStart=/usr/bin/startlxqt
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
