[Unit]
Description=Openbox Window Manager
Requires=xvfb.service
After=xvfb.service network.target

[Service]
Type=simple
User=agentsea
Environment="DISPLAY=:99" "XAUTHORITY=/home/agentsea/.Xauthority"
ExecStart=/usr/bin/openbox --config-file /home/agentsea/.config/openbox/rc.xml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target