[Unit]
Description=Websockify Service
After=x11vnc.service network.target

[Service]
ExecStart=/usr/bin/websockify 6080 localhost:5900
Restart=on-failure
User=agentsea
RestartSec=11s
StartLimitBurst=5
StartLimitIntervalSec=60s

[Install]
WantedBy=multi-user.target
