[Unit]
Description=Start x11vnc at startup.
After=multi-user.target

[Service]
User=agentsea
Type=simple
Environment="DISPLAY=:0"
ExecStart=/usr/bin/x11vnc -auth guess -forever -loop -noxdamage -repeat -rfbauth /home/agentsea/.vnc/passwd -rfbport 5900 -shared -nodpms
Restart=always

[Install]
WantedBy=multi-user.target