[Unit]
Description=X Virtual Frame Buffer Service
After=network.target

[Service]
ExecStart=/usr/bin/Xvfb :99 -screen 0 1280x1024x24
Environment="XAUTHORITY=/home/agentsea/.Xauthority" "DISPLAY=:99"
User=agentsea
Restart=on-failure
RestartSec=2
ExecStartPost=/bin/su agentsea -c "/usr/bin/dbus-launch --exit-with-session gnome-session"

[Install]
WantedBy=multi-user.target