[Unit]
Description=x11vnc Server
After=network.target xvfb.service

[Service]
Environment="DISPLAY=:1"
Environment="XAUTHORITY=/run/user/1000/gdm/Xauthority"
ExecStart=/usr/bin/x11vnc -display :1 -auth /run/user/1000/gdm/Xauthority -forever -loop -noxdamage -repeat -rfbauth /path/to/passwd -rfbport 5900 -shared
User=nobody
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
